body {
    background-color: rgb(219, 213, 197) !important;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.titulo{
    font-size: 30px;
    color:rgb(164, 79, 48);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.pratos{
    font-size:40px;
    color:rgb(164, 79, 48);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.card button {
    border: none;
    padding: 10px;
    color: white;
    background-color:rgb(164, 79, 48);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.card button:hover {
    opacity: 0.7;
}

.botao-perfil { 
    border: none;
    padding: 8px 15px; 
    color: white;
    background-color: rgb(164, 79, 48);
    text-align: center;
    cursor: pointer;
    width: auto; 
    font-size: 14px; 
    margin-top: 5px;
}

.botao-perfil:hover {
    opacity: 0.7;
}

/* Estilização da div de opções de perfil */
#perfilOptions {
    position: absolute;
    top: 60px; /* Ajuste de acordo com a posição desejada */
    right: 20px; /* Posição no lado direito da tela */
    display: none;
    flex-direction: column; /* Colocar os botões em coluna */
    align-items: flex-end; /* Alinhamento dos botões à direita */
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: rgb(164, 79, 48);
}
.reserva_box {
    background-image: url('../imagens/rest.png');
    background-size: 200%;
    background-position: center;
    width: 700px; /* Largura fixa */
    height: 500px; /* Altura fixa */
    padding: 50px;
    color: white;
    text-align: left;
    font-size: 15px;
}

.equipe_box {
    background-image: url('../imagens/chefs.png');
    background-size: cover;
    background-position: center;
    width: 700px; /* Largura fixa */
    height: 500px; /* Altura fixa */
    padding: 50px;
    color: white;
    text-align: left;
    
}

.reserva_button {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
.chefs_button {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.reserva_button:hover, .chefs_button:hover {
    background-color: #e68900;
}