body {
    background-color: rgb(164, 79, 48);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 10px;
    font-size: 14px;
    display: block;
    width: 30%; /* Ajuste a largura do botão conforme necessário */
    margin: 10px auto; /* Centraliza o botão */
    border-radius: 20px; /* Arredonda os campos de input */
    border: 1px solid #ccc; /* Adiciona borda leve aos inputs */
    box-sizing: border-box;
    color: white; /* Cor do texto */
    background-color:rgb(164, 79, 48); /* Fundo vermelho */
    border: none;
}

button:hover {
    background-color: #a64d30; /* Tom mais escuro ao passar o mouse */
}
