body {
    background-color: rgb(164, 79, 48);
}

.caixa {
    width: 600px; 
    min-height: 600px; 
    padding: 20px;
    background-color: whitesmoke; 
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a div */
    font-size: 18px; 
}

h1 {
    text-align: center; /* Centraliza o título */
    color: black; /* Cor do texto */
    margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

label {
    display: block;
    text-align: left; /* Alinha os labels à esquerda */
    margin-bottom: 8px; /* Margem inferior reduzida */
    margin-left: 10%; /* Margem esquerda reduzida */
}

input, textarea {
    padding: 6px; /* Padding dos inputs */
    width: 80%; /* Largura dos inputs */
    margin: 0 auto; /* Centraliza os inputs */
    display: block;
    border-radius: 15px; /* Arredondamento dos campos de input */
    border: 1px solid #ccc; /* Borda leve nos inputs */
    box-sizing: border-box;
}

textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
    min-height: 50px; /* Altura mínima para as textareas */
}

button {
    padding: 10px 10px;
    font-size: 14px;
    display: block;
    width: 30%; 
    margin: 10px auto; 
    border-radius: 20px; 
    border: 1px solid #ccc; 
    box-sizing: border-box;
    color: white; 
    background-color: rgb(164, 79, 48);
    border: none; 
    cursor: pointer; 
}

button:hover {
    background-color: #a0522d; 
}
